:root{
    --primary: rgb(118,168,192);
    --secondary: rgb(37, 150, 190);
    --dark: rgb(34, 56, 67);
    --light: rgb(239, 241, 243);
    --complimentary: rgb(184, 116, 96);
}
* {
    padding: 0px;
    margin: 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
}
body{
    background: no-repeat;
    background-image: url(./Images/background.jpg);

}

/* HEADER */
h1{
    line-height: 100px;
    text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
    color: white;
    padding-top: 100px;
    font-size: 150px;
    font-family: 'Allura', cursive;
    text-align: center;
    justify-content: center;
}

header {
    position: relative;
    height: 90vh;
}

.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ABOUT ME */
h2 {
    padding-top: 100px;
    color: var(--dark);
    font-size: 60px;
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-bottom: 20px;
}

#aboutme {
    background-color: var(--light);
    width: 100%;
    margin-top: 50px;
    min-height: fit-content;
    border-top: 5px solid var(--dark);
    border-bottom: 20px solid var(--dark);
    padding-bottom: 100px;
}
.aboutme {
    padding-top: 50px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 5px solid var(--complimentary);
}
.card{
    display: flex;
    max-width: 400px;
    width: fit-content;
}
.profilePic {
    position: relative;
    padding: 5px;
    width: 200px;
    height: 250px;
    bottom: 50px;
    border: 2px solid var(--secondary);
    margin-top: 20px;
    border-radius: 10px;
}
.bio{
    min-width: 300px;
    height: fit-content;
    background-color:  rgb(118,168,192,.1);
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* WORK */
#work {
    background-color: var(--light);
    width: 100%;
    margin-top: 100px;
    padding: 20px;
    padding-top: 100px;
    min-height: fit-content;
}

/* CONTACT */

#contact {
    background-color: var(--light);
    width: 100%;
    margin-top: 200px;
    padding: 20px;
    padding-top: 100px;
    min-height: fit-content;
}

.button {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--dark);
    color: var(--light);
    text-shadow: 0px 0px 1px black;
    font-family: 'Lobster', cursive;
    border: none;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px;    
}